.itemSide {
  width: 1258px;
}
.itemSide .items {
  display: flex;
  flex-flow: row wrap;
}
.items .item {
  width: 254px;
  height: 472px;
  margin-left: 10px;
  margin-top: 10px;
}
.items .item.true{
  border: 1px solid#E5E5E5;
  border-radius: 10px;
}
.item .itemImageDiv {
  width: 254px;
  height: 339px;
  background-color: #ffffff;
  border: 1px solid#E5E5E5;
  border-radius: 10px;
}
.item .itemImageDiv.true {
  border:none;
}
.itemImageDiv .itemImage {
  width: 224px;
  height: 332px;
  padding: 3px 15px 4px 15px;
}
.item .itemDetail .itemDetailDescription {
  overflow: hidden;
  margin: 13px 22px 10px 16px;
  font-size: 12px;
  line-height: 18px;
  color: #484848;
  --lh: 1rem;
  line-height: var(--lh);
  --max-lines: 2;
  height: calc(var(--lh) * var(--max-lines));
}
.item .itemDetail .brandDiv.true{
  display: none;
}
.item .itemDetail .brandDetail {
  display: flex;
  flex-direction: column;
}
.item .brandDetail .itemBrand {
  padding: 0 16px;
  font-size: 12px;
  line-height: 18px;
  color: #484848;
  font-weight: bold;
}
.item .brandDetail .itemColor {
  padding: 0 16px;
  font-size: 12px;
  line-height: 18px;
  color: #484848;
  font-weight: bold;
}
.item .brandDetail .itemModelDetail {
  font-weight: normal !important;
  padding: 0 3px !important;
}
.item .priceDetail {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  min-height: 40px;
}
.item .priceDetail .itemPrice {
  padding: 0 16px;
  font-size: 12px;
  line-height: 18px;
  color: #484848;
  font-weight: bold;
}
.item .priceDetail .discount{
  display: flex;
  flex-direction: row;
}
.item .priceDetail .itemDiscount {
  padding: 0 16px;
  font-size: 12px;
  line-height: 18px;
  color: #484848;
  text-decoration: line-through;
}
.item .priceDetail .itemDiscountDetail {
  font-size: 12px;
  line-height: 18px;
  color: red;
  font-weight: bold;
  margin-left: -4px;
}
.item .addButton {
  background-color: rgba(243, 128, 5, 0.152);
  color: rgb(255, 132, 0);
  font-weight: bold;
  margin-left: 10px;
  height: 35px;
  width: 224px;
  border-radius: 10px;
  border: none;
}
.item .addButton:hover {
  cursor: pointer;
}
.item .addBasketButton {
  position: relative;
  top: 30px;
}
.item .addBasketButton.false {
  display: none;
}


@media screen and (max-width: 1300px) {
  .items .item {
    width: 210px;
    height: 472px;
  }
  .item .itemImageDiv {
    width: 200px;
    height: 300px;
    background-color: #ffffff;
    border: 1px solid#E5E5E5;
    border-radius: 10px;
  }
  .itemImageDiv .itemImage {
    width: 180px;
    height: 290px;
    padding: 3px 8px 4px 8px;
  }
  .item .itemDetail .itemDetailDescription {
    overflow: hidden;
    margin: 13px 22px 10px 16px;
    font-size: 12px;
    line-height: 18px;
    color: #484848;
    --lh: 1.4rem;
    line-height: var(--lh);
    --max-lines: 2;
    max-height: calc(var(--lh) * var(--max-lines));
  }
  .item .addButton {
    width: 180px;
  }
}
