.filterSide {
  width: 205px;
  min-width: 203px;
}
.filterSide .colorList {
  list-style: none;
  margin-left: -40px;
}
.filterSide .colorList:hover {
  cursor: pointer;
}
.filterSide .colorFilter {
  margin-top: 13px;
}
.filterSide .filterItem {
  color: #646464;
  line-height: 24px;
}
.filterSide .filterItem:hover {
  color: orangered;
}
.filterSide .filterHeader {
  color: #484848;
  font-size: 16px;
  font-weight: 500;
}
