.headerBottomContainer {
  margin: 24px 81px 0 80px;
}

.headerBottomContainer .headerBottomElements {
  align-items: center;
  display: flex;
  height: 52px;
}
.headerBottomElements .searchContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 1150px;
  min-width: 780px;
}
.searchContent .searchResultBold {
  font-weight: bold;
  font-size: 28px;
  color: #484848;
  line-height: 28px;
}
.searchContent .searchResultSpan {
  color: #b0b0b0;
  font-size: 15px;
}
.searchContent .modelSpan {
  font-weight: bold;
  color: #484848;
  font-size: 15px;
}
.headerBottomElements .headerBottomSorting {
  float: right;
}
.headerBottomElements .sortingButton {
  width: 120px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #b0b0b0;
  color: #b0b0b0;
  display: flex;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
}
.headerBottomElements .sortingButton .vector {
  margin-left: 20px;
}

.headerBottomSorting .sortingList{
  position: absolute;
  width: auto;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}
.headerBottomSorting .sortingList .listItem{
  font-size: 20px;
  color:white;
  background-color: #484848;
  border:1px solid #484848;
  padding-left: 5px;
}
.headerBottomSorting .sortingList .listItem1{
   padding-left: 20px;
}
.headerBottomSorting .sortingList .listItem:hover{
  background-color: blue;
}
